.navbar {
    padding: 25px 0 25px 20px;
    margin-bottom: 0;
}

.jumbotron {
    padding: 3%;
}

.new-buttons {
    text-align: left;
}

.new-buttons .btn {
    margin: 10px 0 10px 10px;
}

.lists {
    margin: 3% 1%;
}

.card-titles {
    text-align: left;
}

.add-button {
    position: absolute;
    right:30px;
}

.list-post {
    margin: 1% 1%;
}

.list-form {
    margin: 3% 1%;
}

.new-list-btn {
    margin: 1% 3% 0;
}

.list-link {
    position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        text-decoration: none; /* No underlines on the link */
        z-index: 10; /* Places the link above everything else in the div */
        background-color: #FFF; /* Fix to make div clickable in IE */
        opacity: 0; /* Fix to make div clickable in IE */
        filter: alpha(opacity=1); /* Fix to make div clickable in IE */
}

.item-btn {
    padding: 1%;
    display: inline-block;
}

.save-btn {
    padding: 1%;
    margin: 1%;
}

.edit-form {
    padding: 3%;
}

.list-title .jumbotron {
    padding: 1% 2%;
}
