{% extends "base.html" %}

{% block title %}Home{% endblock %}
{% block content %}
<div class="jumbotron">
    <h1>Todo List</h1>
    <p>Keep track of tasks.</p>
    <div class="new-buttons">
        <div class="row">
            <div class="col-4">
                <a class="btn btn-lg btn-primary" role="button" href="">New List</a>
            </div>
            <div class="col-4">
                <a class="btn btn-lg btn-primary" role="button" href="{{ url_for('lists') }}">View Lists</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
