{% extends "base.html" %}

{% block title %}All Lists{% endblock %}


{% block content %}
{% if form.errors %}
<ul class="errors">
    {% for field_name, field_errors in form.errors|dictsort if field_errors %}
    {% for error in field_errors %}
    <li>{{ form[field_name].label }}: {{ error }}</li>
    {% endfor %}
    {% endfor %}
</ul>
{% endif %}

<div class="row new-list-btn">
    <div class="col-12">
        <button type="button" class="btn btn-block btn-lg btn-outline-dark" data-toggle="modal" data-target="#addListModal">New List</button>
    </div>
</div>

{% for list in lists %}

    <div class="row list-post">
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card" href="{{ url_for('list', list_id=list.id) }}">
                <a class="list-link" href="{{ url_for('list', list_id=list.id) }}"></a>
                <div class="card-header"><h3>{{list.list_name}}</h3>
                    <h6 class="card-subtitle mb-2 text-muted">{{ list.list_summary }}</h6>
                </div>
                <div class="card-body">
                    {% for sublist in list.sub_lists %}
                            <p class="card-text">{{ sublist.list_type.upper() }} : {{ sublist.list_items | length }}</p>
                    {% endfor %}
                </div>
                <div class="card-footer text-muted">Last Edited: {{ list.last_edited.strftime("%Y-%m-%d") }}</div>
            </div>
        </div>
    </div>
{% endfor %}


<div class="modal fade" id="addListModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Add Item</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form class="list-form" action="{{ url_for('lists') }}" method="post" novalidate=True>
                <div class="modal-body">
                    {{ form.csrf_token }}
                    {{ form.list_name.label }} <br>
                    {{ form.list_name(size=50) }} <br>
                    {{ form.list_summary.label }} <br>
                    {{ form.list_summary(cols="63", rows="5", style="resize: none") }} <br>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <input class="btn btn-lg btn-primary" value="Add" type="submit">
                </div>
            </form>

        </div>
    </div>
    {% endblock %}
